* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NORTHEASTERN COLOR SCHEME DEFINITIONS */
:root {
  --primary-color: rgb(200, 16, 46);
  --dark-color: black;
  --light-color: white;
  --accent-color: rgb(164, 128, 74);
}

/* Body Default Font and BG */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: white;
  /* overflow-x: hidden; */
}

/* Link Default Color and Decoration */
a {
  text-decoration: none;
  color: black;
}

/* No ul bullet points */
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
